### BASE API
EXPO_PUBLIC_API_URL=

### ONESIGNAL
EXPO_PUBLIC_ONESIGNAL_APP_ID=

### GOOGLE MAPS
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_DIRECTIONS_BASE_URL=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY_IOS=

### PUSHER
EXPO_PUBLIC_PUSHER_KEY=
EXPO_PUBLIC_PUSHER_CLUSTER="''"
EXPO_PUBLIC_PUSHER_HOST=""
EXPO_PUBLIC_PUSHER_AUTH_ENDPOINT=""
